/* === google fonts === */
font-family: 'Poppins', sans-serif;


/* =====utilities common style ===== */
body {

    background-color: #fff;
}

.container {
    display: flex;
    justify-content: center;
    background-color: black;
    width: 1321px;
    height: 646px;
    margin-top: 50px;
    border-radius: 30px;

}

.top-text {
    color: #fff;
    margin-left: 80px;
    width: 531px;
    height: 424px;


}

.top-text-style {
    font-size: 40px;
}

.top-text-style h4 {
    background-color: red;
    border: 5px 5px 5px 5px;

}

.button {
    background-color: red;
    margin: 10px 15px;
    border: none;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 5px;
    cursor: pointer;

}

.paragraph-style {
    margin-bottom: 20px;
    margin-top: 10px;
}

.player-image {}

.second-container {

    width: 312px;
    height: 312px;
    border: 826px 140px;
    background-color: black;
    color: #fff;
    border-radius: 30px;

}

.right-middle-feat {
    border: 30px 30px 30px 30px;
}

.match-upcoming {
    background-color: white;
    color: black;
    padding: 10px 15px;
    margin: 30px 30px 30px 30px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;

}

.all-group {
    background-color: white;
    color: black;
    padding: 10px 15px;
    margin: 30px 30px 30px 30px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;

}

.blog {
    background-color: rgb(221, 45, 45);
    color: #fff;
    padding: 10px 15px;
    margin: 30px 30px 30px 30px;
    font-size: 24px;
    border-radius: 5px;
    cursor: pointer;

}

/* ========live match style ======= */
.live-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;

}

.live-match-banner img {
    width: 312px;
    height: 175;

}

.match-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

}